In [22]:
import pandas as pd

In [23]:
df = pd.read_csv('AZDIAS_Subset_1.csv',sep = ';',index_col=0)
l = len(df)
l/2
df1 = df[:int(l/2)]
df2 = df[int(l/2):]

In [24]:
df1.to_csv("AZDIAS_Subset_11.csv")
df2.to_csv("AZDIAS_Subset_12.csv")

In [25]:
df = pd.read_csv('AZDIAS_Subset_2.csv',sep = ';',index_col=0)
l = len(df)
l/2
df1 = df[:int(l/2)]
df2 = df[int(l/2):]

In [26]:
df1.to_csv("AZDIAS_Subset_21.csv")
df2.to_csv("AZDIAS_Subset_22.csv")

In [13]:
df.head(int(l/2))

,AGER_TYP,ALTERSKATEGORIE_GROB,ANREDE_KZ,CJT_GESAMTTYP,FINANZ_MINIMALIST,FINANZ_SPARER,FINANZ_VORSORGER,FINANZ_ANLEGER,FINANZ_UNAUFFAELLIGER,FINANZ_HAUSBAUER,...,PLZ8_ANTG1,PLZ8_ANTG2,PLZ8_ANTG3,PLZ8_ANTG4,PLZ8_BAUMAX,PLZ8_HHZ,PLZ8_GBZ,ARBEIT,ORTSGR_KLS9,RELAT_AB
0,-1,2,1,2.0,3,4,3,5,5,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,-1,1,2,5.0,1,5,2,5,4,5,...,2.0,3.0,2.0,1.0,1.0,5.0,4.0,3.0,5.0,4.0
2,-1,3,2,3.0,1,4,1,2,3,5,...,3.0,3.0,1.0,0.0,1.0,4.0,4.0,3.0,5.0,2.0
3,2,4,2,2.0,4,2,5,2,1,2,...,2.0,2.0,2.0,0.0,1.0,3.0,4.0,2.0,3.0,3.0
4,-1,3,1,5.0,4,3,4,1,3,2,...,2.0,4.0,2.0,1.0,2.0,3.0,3.0,4.0,6.0,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
222800,-1,1,2,6.0,3,4,2,5,5,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
222801,1,3,2,4.0,2,3,4,4,3,3,...,2.0,3.0,2.0,1.0,1.0,5.0,5.0,2.0,3.0,3.0
222802,-1,1,2,6.0,3,4,3,5,5,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
222803,-1,3,2,4.0,4,2,4,2,2,1,...,3.0,2.0,1.0,1.0,1.0,3.0,3.0,2.0,4.0,3.0
222804,-1,3,1,5.0,3,3,4,2,3,3,...,1.0,4.0,3.0,2.0,4.0,3.0,2.0,4.0,8.0,4.0

In [10]:
l

445610

In [11]:
l/2

222805.0

In [12]:
df

,AGER_TYP,ALTERSKATEGORIE_GROB,ANREDE_KZ,CJT_GESAMTTYP,FINANZ_MINIMALIST,FINANZ_SPARER,FINANZ_VORSORGER,FINANZ_ANLEGER,FINANZ_UNAUFFAELLIGER,FINANZ_HAUSBAUER,...,PLZ8_ANTG1,PLZ8_ANTG2,PLZ8_ANTG3,PLZ8_ANTG4,PLZ8_BAUMAX,PLZ8_HHZ,PLZ8_GBZ,ARBEIT,ORTSGR_KLS9,RELAT_AB
0,-1,2,1,2.0,3,4,3,5,5,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,-1,1,2,5.0,1,5,2,5,4,5,...,2.0,3.0,2.0,1.0,1.0,5.0,4.0,3.0,5.0,4.0
2,-1,3,2,3.0,1,4,1,2,3,5,...,3.0,3.0,1.0,0.0,1.0,4.0,4.0,3.0,5.0,2.0
3,2,4,2,2.0,4,2,5,2,1,2,...,2.0,2.0,2.0,0.0,1.0,3.0,4.0,2.0,3.0,3.0
4,-1,3,1,5.0,4,3,4,1,3,2,...,2.0,4.0,2.0,1.0,2.0,3.0,3.0,4.0,6.0,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
445605,3,1,1,1.0,3,1,5,1,1,5,...,1.0,3.0,3.0,2.0,5.0,3.0,1.0,3.0,9.0,5.0
445606,2,3,1,5.0,3,1,5,1,2,5,...,1.0,4.0,2.0,1.0,2.0,3.0,3.0,3.0,9.0,4.0
445607,2,4,1,1.0,5,1,5,1,1,2,...,3.0,2.0,1.0,0.0,1.0,3.0,3.0,3.0,3.0,2.0
445608,-1,4,2,2.0,3,1,5,1,2,4,...,1.0,4.0,3.0,2.0,4.0,4.0,2.0,4.0,8.0,5.0
445609,-1,1,1,4.0,1,5,3,5,4,4,...,1.0,4.0,2.0,1.0,2.0,2.0,2.0,5.0,7.0,5.0

In [16]:
df[:int(l/2)]

,AGER_TYP,ALTERSKATEGORIE_GROB,ANREDE_KZ,CJT_GESAMTTYP,FINANZ_MINIMALIST,FINANZ_SPARER,FINANZ_VORSORGER,FINANZ_ANLEGER,FINANZ_UNAUFFAELLIGER,FINANZ_HAUSBAUER,...,PLZ8_ANTG1,PLZ8_ANTG2,PLZ8_ANTG3,PLZ8_ANTG4,PLZ8_BAUMAX,PLZ8_HHZ,PLZ8_GBZ,ARBEIT,ORTSGR_KLS9,RELAT_AB
0,-1,2,1,2.0,3,4,3,5,5,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,-1,1,2,5.0,1,5,2,5,4,5,...,2.0,3.0,2.0,1.0,1.0,5.0,4.0,3.0,5.0,4.0
2,-1,3,2,3.0,1,4,1,2,3,5,...,3.0,3.0,1.0,0.0,1.0,4.0,4.0,3.0,5.0,2.0
3,2,4,2,2.0,4,2,5,2,1,2,...,2.0,2.0,2.0,0.0,1.0,3.0,4.0,2.0,3.0,3.0
4,-1,3,1,5.0,4,3,4,1,3,2,...,2.0,4.0,2.0,1.0,2.0,3.0,3.0,4.0,6.0,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
222800,-1,1,2,6.0,3,4,2,5,5,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
222801,1,3,2,4.0,2,3,4,4,3,3,...,2.0,3.0,2.0,1.0,1.0,5.0,5.0,2.0,3.0,3.0
222802,-1,1,2,6.0,3,4,3,5,5,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
222803,-1,3,2,4.0,4,2,4,2,2,1,...,3.0,2.0,1.0,1.0,1.0,3.0,3.0,2.0,4.0,3.0
222804,-1,3,1,5.0,3,3,4,2,3,3,...,1.0,4.0,3.0,2.0,4.0,3.0,2.0,4.0,8.0,4.0